<!doctype html>
<html lang="pt">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <title>home</title>
    </head>
    <body>
        <nav class="navbar col-12 position-fixed navbar-expand-lg navbar-dark bg-dark" style="z-index: 999;">
            <div class="container-fluid col-11 m-auto">
              <a class="navbar-brand" href="home.html">HOME</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="jogos.html">JOGOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="hardware.html">HARDWARE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pcgamer.html">PC GAMER</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato">CONTATO</a>
                  </li>              
                 
                </ul>
                <div class="align-self-end">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                           <a href="login.html" class="nav-link text-white">Quero me Cadastrar</a>
                        </li>
                       <li class="nav-item">
                           <a href="formulario.html" class="nav-link text-white">Entrar</a>
                        </li>
                      <li class="nav-item">
                            <a href="#" class="nav-link text-white">
                              <svg class="bi" width="29" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0  0 20">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                           </a>

                         </li>
                    </ul>
               </div>

                
              </div>
            </div>
         
        </nav>
        <img src="https://casadoscartuchossr.com.br/image/catalog/cmsblock/mini_banner_exemplo_cabos.jpg" alt="Cinque Terre" width="100%" height="10%">
        <div class="col-11 m-auto">
          <br>
          <h1 style="color:red"   class="text-center">GAME MANIA</h1>
        </div>
        <br><br>
       <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">
        <div class="col">
          <div class="card">
            <img src="https://ogimg.infoglobo.com.br/in/23660434-d43-d41/FT1086A/CelinaMeninasGamers.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">59% das mulheres gamers escondem gênero para evitar assédio, diz pesquisa</h5>
              <p class="card-text">O assédio às mulheres é uma triste realidade que, infelizmente, também é muito presente no mundo dos jogos. Mesmo que ao longo dos anos a presença de gamers femininas na comunidade tenha aumentado – além de terem se tornado a maioria entre os jogadores -, o ambiente hostil ao sexo oposto ainda existe.</p>
               
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://m.media-amazon.com/images/I/613bhsrtc4L._AC_SY450_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jogadores de PC são os que mais jogam online, aponta pesquisa</h5>
              <p class="card-text">O público gamer de computador é o que mais joga online com 65%, tanto de forma cooperativa quanto competitiva. Os jogadores que preferem apenas consoles ficaram em segundo lugar, com 58,2%.
              A plataforma também apresenta o maior volume de jovens, com 44,3% entre 16 e 24 anos. A maior parte desse público é homem (66,1%)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://exame.com/wp-content/uploads/2020/08/gettyimages-909590410-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Console é a plataforma onde se joga por mais tempo consecutivo</h5>
              <p class="card-text">Mesmo com a popularização dos smartphones e a ascensão do PC, é no bom e velho console doméstico que o público gamer brasileiro passa mais tempo jogando 41,5% dos jogadores de videogames realiza sessões de até 3h, e 17,6% por mais de 3h.
            </p>
            </div>
          </div>
        </div>
        </div>
        <br>
        <div id="jogos.html" class="col-11 m-auto"></div>
        <div class="col-11 m-auto">
          <h2 style="color:red"   class="text-center">JOGOS</h2>
        </div>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">
          <div class="col">
               <div class="card">
                  <img src="https://a-static.mlcdn.com.br/618x463/pacote-de-expansao-the-sims-4-vida-na-cidade-pc-ea/starcomputeritu2/3783/190f5554ca342f98352a916d1192d6a9.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                     <h5 class="card-title">The Sims PC</h5>
                      <p class="card-text">R$150,00</p>
                      <p class="card-text">Em até 4x de R$ 31,50 sem juros</p>              
                      <fieldset>
                        <label for="jogos-number"></label>
                        <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                      </fieldset>
                      <br>
                      <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                  </div>
                </div>
            </div>
       
          <div class="col">
           <div class="card">
              <img src="https://media.icdn.hu/product/GalleryMod/2011-08/88069/resp/139732_fifa_manager_12_pc.webp" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Fifa Manager 12 PC</h5>
               <p class="card-text">R$150,00</p>
                <p class="card-text">Em até 4x de R$ 31,50 sem juros</p>
                <fieldset>
                  <br>
                 <label for="jogos-number"></label>
                 <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                </fieldset>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
              </div>
           </div>
         </div> 
         <div class="col">
            <div class="card">
              <img src="https://images-americanas.b2w.io/produtos/01/00/img/53853/2/53853239_1GG.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">Mine Craft Nintendo Switch</h5>
                <p class="card-text">R$248,80</p>
                <p class="card-text">em até 8x de R$ 31,10 sem juros</p>
                <fieldset>
                  <br>
                  <label for="jogos-number"></label>
                  <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                </fieldset>
                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
             </div>
            </div>
         </div>
        </div>
       <br><br>
       <div class="col-11 m-auto">
         <h2 style="color:red"   class="text-center">HARDWARE</h2>
       </div>

          <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">
            <div class="col">
              <div class="card">
               <img src="https://www.fenixinformatica.com.br/image/cache/catalog/placa-me-asus-am4-prime-b450m-gamingbr-4-x-ddr4-matx-dnqnp893446-mlb32719067741102019-f-946x739.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">PLACA MAE ASUS PRIME B450M-GAMING/BR DDR4 SOCKET AM4 CHIPSET AMD B450</h5>
                 <br> 
                  <p class="card-text">R$537,90</p>
                  <p class="card-text">4x de R$134,48 (com 12% de desconto)</p>              
                  <fieldset>
                    <label for="jogos-number"></label>
                   <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                 </fieldset>
                 <br>
                 <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
               </div>
              </div>
            </div>         
           <div class="col">
              <div class="card">
               <img src="https://lh3.googleusercontent.com/nOQaYnuxjvdoKN6trDrX7mfHRS2K3_pAauQcIHr2M83jHpPRm5Dpx4r9mZAP3L4xkk9Vxsf2AisTbAgAKdeYJd_qT4K4isV12ynEbivONDD3lLew1qd4kQf7ivyl4oClywJ33tK4" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Memória Ram Kingston 8gb Ddr4 Hyperx Gamer 2400 Mhz | Hx424c15fb2/8</h5>
                  <br> 
                  <p class="card-text">R$ 457,15</p>
                  <p class="card-text">em até 12x sem juros</p>
                  <fieldset>
                    <br>
                    <label for="jogos-number"></label>
                    <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                  </fieldset>
                  <br>
                  <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                </div>
              </div>
            </div> 
           <div class="col">
              <div class="card">
                <img src="https://a-static.mlcdn.com.br/618x463/processador-intel-core-i7-9700f-coffee-lake-cache-12mb-3-0ghz-4-7ghz-max-turbo-lga-1151-bx80684i79700f/updateinformatica/211p/74945703b0312a4643553adb2b74dd8d.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                 <h5 class="card-title">Processador Intel Core i7-9700F Coffee Lake, Cache 12MB, 3.0GHz (4.7GHz Max Turbo)</h5>                   
                 <p class="card-text">R$ 1.549,90</p>
                  <p class="card-text">em até 12x sem juros</p>
                  <fieldset>
                    <br>
                    <label for="jogos-number"></label>
                    <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                  </fieldset>
                  <br>
                  <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                </div>
             </div>
           </div>
          </div>
          <br>
          <div class="col-11 m-auto">
            <h2 style="color:red"   class="text-center">PC GAMER</h2>
          </div>
          <br>
          <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">
            <div class="col">
                 <div class="card">
                    <img src="https://a-static.mlcdn.com.br/1500x1500/pc-gamer-completo-hercules-intel-i3-3o-ger-gt-730-4gb-8gb-hd-500gb-wi-fi/amorimtech/10907018304/cb770e5c91e6aeeafa32d8ad6305834b.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                       <h5 class="card-title">Pc Gamer Completo Maximus I5 GT 730 4GB 8GB Hd 1Tb Wi-fi</h5>
                       <br>  
                       <p class="card-text">R$4.199,00</p>
                        <p class="card-text">Em até 10x de R$ 419,90 sem juros</p>              
                        <fieldset>
                          <label for="jogos-number"></label>
                          <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                        </fieldset>
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                    </div>
                  </div>
              </div>
                       
            <div class="col">
               <div class="card">
                    <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1849158282" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">PC Gamer Completo I3 8GB SSD 120GB Monitor - Intel</h5>
                        <br>   
                        <p class="card-text">R$2.697,85</p>
                          <p class="card-text">12x de R$ 224,82 sem juros</p>
                          <fieldset>
                            <br>
                           <label for="jogos-number"></label>
                            <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                          </fieldset>
                          <br>
                          <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                    </div>
               </div>
           </div> 
           <div class="col">
              <div class="card">
                   <img src="https://http2.mlstatic.com/D_NQ_NP_697433-MLB48255051472_112021-W.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                       <h5 class="card-title">PC GAMER INTEL I3 8GB SSD 120 GB MONITOR MOUSE TECLADO GAMER</h5>
                       <br>  
                       <p class="card-text">R$3.535,00</p>
                         <p class="card-text">em até 12x de R$ 294,58 sem juros</p>
                         <fieldset>
                           <br>
                          <label for="jogos-number"></label>
                           <input type="number" name="jogos-number" id="jogos-number" placeholder="1" required>
                         </fieldset>
                         <br>
                         <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Comprar</button>
                   </div>
              </div>
              </div>
          </div>

          <br>
          <br>
          <br>
          <div class="col-11 m-auto">
            <h2 style="color:red"   class="text-center">LOGIN</h2>
          </div>
          <section class="vh-100" style= "background-color: #9A616D 100%;">
            <div class="container py-5 h-100">
           <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col col-xl-10">
             <div class="card" style="border-radius: 1rem;">
               <div class="row g-0">
                 <div class="col-md-6 col-lg-5 d-none d-md-block">
                   <img
                     src="https://cdn.w600.comps.canstockphoto.com.br/gamer-%C3%ADcones-vetor-eps_csp15306584.jpg"
                     alt="login form"
                     class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                   />
                 </div>
                 <div class="col-md-6 col-lg-7 d-flex align-items-center">
                   <div class="card-body p-4 p-lg-5 text-black">     
                     <form>     
                       <div class="d-flex align-items-center mb-3 pb-1">
                         <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                         <span class="h1 fw-bold mb-0">Game Mania</span>
                       </div>
     
                       <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Faça Login</h5>
     
                       <div class="form-outline mb-4">
                         <input type="email" id="form2Example17" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example17">Endereço de Email</label>
                       </div>
     
                       <div class="form-outline mb-4">
                         <input type="password" id="form2Example27" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example27">Senha</label>
                       </div>
     
                       <div class="pt-1 mb-4">
                         <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                       </div>
     
                       
                       <p class="mb-5 pb-lg-2" style="color: #393f81;">Não tem uma conta? <a href="login.html" style="color: #393f81;">Registre-se aqui</a></p>
                       <a href="#!" class="small text-muted">Terms of use.</a>
                       <a href="#!" class="small text-muted">Privacy policy</a>
                     </form>
     
                   </div>
                 </div>
               </div>
             </div>
           </div>
          </div>
           </div>
           </section>
           <br>
           <br>
          <br>
          <br>
          <div class="col-11 m-auto">
            <h2 style="color:red"   class="text-center">CADASTRAR-SE</h2>
          </div>

          <section class="vh-100" style= "background-color: #9A616D 100%;">
            <div class="container py-4 h-50">
           <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col col-xl-10">
             <div class="card" style="border-radius: 1rem;">
               <div class="row g-0">
                 <div class="col-md-6 col-lg-5 d-none d-md-block">
                   <img
                     src="https://i.pinimg.com/originals/aa/05/27/aa05270cf9299702c1ad2760ae67dd92.jpg"
                     alt="login form" 
                     class= "img-fluid" style="border-radius: 1rem 0 0 1rem;"
                   />
                 </div>
                 <div class="col-md-6 col-lg-7 d-flex align-items-center">
                   <div class="card-body p-4 p-lg-5 text-black">
     
                    <form>
     
                       <div class="d-flex align-items-center mb-3 pb-1">
                         <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                         <span class="h1 fw-bold mb-0">Game Mania</span>
                       </div>
     
                       <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Quero me Cadastrar</h5>
     
                       <div class="form-outline mb-2">
                         <input type="email" id="form2Example17" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example17">Endereço de Email</label>
                       </div>

                                
                       <div class="form-outline mb-4">
                         <input type="email" id="form2Example17" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example17">Crie sua senha</label>
                       </div>                      
                       
                                
                       <div class="form-outline mb-4">
                         <input type="email" id="form2Example17" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example17">CPF ou CNPJ</label>
                       </div>
     
                       <div class="form-outline mb-4">
                         <input type="password" id="form2Example27" class="form-control form-control-lg" />
                         <label class="form-label" for="form2Example27">CEP</label>
                       </div>
     
                       <div class="pt-1 mb-4">
                         <button class="btn btn-dark btn-lg btn-block" type="button">Cadastrar-se</button>
                       </div>  
                        
                    </form>
     
                   </div>
                 </div>
               </div>
             </div>
           </div>
            </div>
            </div>
           </section>
           <br>
           <br>
           <br>
           <br>  
            <hr>
       <div class="col-11 m-auto">
           <h2 style="color:red"   class="text-center">SOBRE:</h2>
           <p class="text-center">Os games desde que era pequena sempre despertaram o interesse de Ana Alice, mas quando jovem não tinha condições para adquirir seus games preferidos. E foi com essa paixão sobre o mundo gamer que no ano de 2018 Ana Alice abriu sua própria loja online de games no começo os envios eram apenas para o sudeste, mas ela logo percebeu que sua loja começou a ficar conhecida e ela precisaria fazer uma ótima logística para expandir os envios para todo o país. Atualmente a Game Mania atende todos os estados Brasileiros e já enviou vários produtos para mais de 15 cidades o diferencial desta loja é que eles tem um ótimo atendimento e seus produtos são de ótima qualidade e com garantia estendida sem cobrar muito de seus clientes.</p>
       </div> 
       <hr>     
       <hr>
       <div id="#contato" class="col-11 m-auto">
          <h2 style="color:red" class="text-center">CONTATO:</h2>
         <div class="col-1 m-auto">
           <a href="https://web.whatsapp.com/">
             <i class="fab fa-whatsapp" style="font-size: 100px ; color: green;"></i>
           </a>
            <a href="https://www.instagram.com/">
              <i class="fab fa-instagram" style="font-size: 100px;color: black;"></i>
           </a>
           </div>
       </div>
       
       <footer style="background-color: #333"   class="page-footeer font-small blue p-4">
         <div class="text-center">
           <p  class="text-danger"> &copy;2021 - Todos os direitos reservados.</p>
           <p  class="text-danger">Desenvolvido por:<a href="https://www.instagram.com/mayelens/" target="blank">  Mayelen</a></p>
           </div>
       </footer>

   
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </body>
</html>